extends ../layouts/Main

block scripts
  script(src="../js/Index.js")
  script(src="../js/controllers/Main.js")
  script(src="../js/controllers/settings/Connection.js")
  script(src="../js/controllers/Typearea.js")
  script(src="../js/services/Main.js")
  script(src="../js/services/Typearea.js")
  script(src="../js/controllers/Emr.js")
  script(src="../js/services/Emr.js")
  script(src="../js/controllers/UploadsCtrl.js")

block content 
  .container
    div(ui-view)
