div(flex-container="row")
  div(flex-item="3", class="card p+")

    span.fs-title.display-block.mb ประวัติรับบริการ
    div.divider.divider--dark
    ul(class="list mt++")
      li.list-row.list-row--has-separator
        a(href="#/emr-detail/xxxx").list-row__content
          span.display-block 21/08/2558 14:30
          span.display-block.fs-body-1.tc-black-2 รพ.สต.นาสีนวน บ้านหนองอุ่ม
      li.list-row.list-row--has-separator
        div.list-row__content
          span.display-block 21/08/2558 14:30
          span.display-block.fs-body-1.tc-black-2 รพ.สต.นาสีนวน บ้านหนองอุ่ม
  div(flex-item="9", style="padding-top: 0; padding-left: 10px;")
    div(class="card p+")
      h4 Hello
      div(ui-view="detailView")
