.flex-item
  .card
    div(class="p+")
      strong.fs-headline.display-block Connection Setting
      span.fs-subhead.tc-black-2.display-block กำหนดค่าการเชื่อมต่อฐานข้อมูล/CLOUD

      .paragraph.fs-body-1
        form(name="frmSetting")
          div(flex-container="row", flex-gutter="24")
            div(flex-item="6")
              div(flex-container="row", flex-gutter="24")
                div(flex-item="8")
                  lx-text-field(label="IP HOSxP Server", fixed-label="true", icon="desktop-mac")
                    input(type="text", ng-model="config.db.host", lx-tooltip="IP Address ของเครื่องแม่ข่าย (HOSxP)")
                div(flex-item="4")
                  lx-text-field(label="Port", fixed-label="true", icon="crosshairs-gps")
                    input(type="number", ng-model="config.db.port", lx-tooltip="พอร์ตที่ใช้เชื่อมต่อ")
              div(flex-container="row", flex-gutter="24")
                div(flex-item="12")
                  lx-text-field(label="ชื่อฐานข้อมูล", fixed-label="true", icon="clipboard-text")
                    input(type="text", ng-model="config.db.database", lx-tooltip="ชื่อฐานข้อมูล")
              div(flex-container="row", flex-gutter="24")
                div(flex-item="6")
                  lx-text-field(label="ชื่อผู้ใช้งาน", fixed-label="true", icon="account")
                    input(type="text", ng-model="config.db.user", lx-tooltip="ชื่อผู้ใช้งาน")
                div(flex-item="6")
                  lx-text-field(label="รหัสผ่าน", fixed-label="true", icon="key")
                    input(type="password", ng-model="config.db.password", lx-tooltip="รหัสผ่านเชื่อมต่อฐานข้อมูล")

              div(flex-container="row", flex-gutter="24")
                div(flex-item="6")
                  lx-text-field(label="CLOUD URL", fixed-label="true", icon="cloud")
                    input(type="text", ng-model="config.cloud.url", lx-tooltip="ที่อยู่ของ Cloud Server")
                div(flex-item="6")
                  lx-text-field(label="Key", fixed-label="true", icon="key")
                    input(type="text", ng-model="config.cloud.key", lx-tooltip="Key ของ Cloud Server")
          br
          .card__actions
            button.btn.btn--l.btn--blue.btn--raised(lx-ripple, ng-click="save()") Save
            | &nbsp;
            button.btn.btn--l.btn--red.btn--raised(lx-ripple) Cancel