@media screen and (max-width: 1023px) {
  body {
    padding: 0;
  }
}
@media screen and (min-width: 1024px) {
  body {
    padding: 0 25px 0 25px;
  }
}

.padding-top-10 {
  padding-top: 10px;
}
.data-table-header__actions {
  width: 250px;
}

body {
  font-size: 14px;
}