doctype
html(ng-app="app")
  head
    meta(charset="utf-8")
    title โปรแกรมบริหารจัดการข้อมูลด้านสุขภาพ

    //- Main Scripts
    script(src="../js/App.js")
    script(src="../js/Config.js")
    script(src="../js/Helpers.js")

    //- Application scripts
    block scripts

    link(rel="stylesheet", href="../../vendor/lumx/dist/lumx.css", charset="utf-8")
    link(rel="stylesheet", href="../css/app.css")

  body
    .toolbar.bgc-indigo-500.tc-white-1
      .toolbar__left(class="mr+++")
        a(href="./Index.html", lx-ripple).btn.btn--l.btn--white.btn--icon
          i.mdi.mdi-windows
      span.toolbar__label.fs-title ระบบติดตามข้อมูลสุขภาพ (iEMR)
      
      .toolbar__right
        lx-dropdown(position="right", from-top)
          button.btn.btn--l.btn--white.btn--icon(lx-ripple, lx-dropdown-toggle, lx-tooltip="เมนูหลัก", tooltip-position="left")
            i.mdi.mdi-apps
              
          lx-dropdown-menu
            ul
              li
                a(href="./Index.html#/").dropdown-link.dropdown-link--is-large
                  i.mdi.mdi-monitor
                  span ทะเบียนผู้มารับบริการ
              li
                a(href="./Index.html#/emr/0").dropdown-link.dropdown-link--is-large
                  i.mdi.mdi-file-find
                  span ตรวจสอบประวัติรับบริการ (EMR)
              li
                a(href="./Index.html#/typearea").dropdown-link.dropdown-link--is-large
                  i.mdi.mdi-eye
                  span ตรวจสอบประชากรในเขต
              li.dropdown-divider
                
              li
                a.dropdown-link.dropdown-link--is-header TOOLS
              li 
                a(href="./Settings.html#/").dropdown-link
                  i.mdi.mdi-settings
                  span กำหนดค่าการใช้งาน
              li
                a(href="./Index.html#/uploads").dropdown-link
                  i.mdi.mdi-cloud-upload
                  span อัปโหลด 43 แฟ้ม
              
              li
                a(href="#/settings").dropdown-link
                  i.mdi.mdi-power
                  span ออกจากโปรแกรม

    block content
